.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.todokutu {
  background-color: aqua;
  border-style: solid;
  padding: 0.2rem;
  size: 10vh;
}

.add {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  justify-content: flex-end;
}

.edit {
  background-color: #f4f811;
  border: none;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  justify-content: end;
}

.comp {
  background-color: #3af800;
  border: none;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  justify-content: end;
}

.delete {
  background-color: #fc0606;
  border: none;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  justify-content: flex-end;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}